{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": [
    "prettier",
    "unicorn"
  ],
  "rules": {
    "prettier/prettier": "error",
    "unicorn/filename-case": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ]
      }
    ]
  }
}
