@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/ProximaNova-Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/ProximaNova-Thin.otf');
}
