ion-content {
  --background: #F6F6F6;
}

ion-list {

  &.list-md {
    background: transparent;
    padding: 0;
  }
}

ion-list-header {
  text-transform: uppercase;
}

ion-item {
  &.full-width {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    padding: 0;

    --inner-padding-start: 0;
    --inner-padding-end: 0;
  }
}
